@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1>HOŞGELDİNİZ</h1>
    <h4>≽^•⩊•^≼ Lütfen Navbarı kullanarak yapmak istediğiniz işlemi seçiniz ≽^•⩊•^≼</h4>
</div>
